p{
    color: red;
    background-color: aqua;
    font-style: italic;
    border: 2px solid black ;
}
select{
    color: blue;
    background-color: yellow;
    font-style: italic;
    border: 2px solid white ;
}
.moderate{
    color: pink;
    background-color: beige;
    font-style: italic;
    border: 2px solid black ;
}
.gaudy{
    color: brown;
    background-color: rgba(0, 255, 64, 0.411);
    font-style: italic;
    border: 2px solid black ;
}
#id1{
    color: rgb(255, 0, 212);
    background-color: rgb(255, 174, 0);
    font-style: italic;
    border: 2px solid black ;
}